/* Write your CSS code in this file */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Covered+By+Your+Grace&family=Creepster&family=Julius+Sans+One&family=Reenie+Beanie&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: black;
    text-align: center;
    position: relative;
}

#mainDiv {
    /* position: absolute; */
    height: 1090px;
    width: 1090px;
    background-image: url(Images/backgroundImage.png);
    background-repeat: no-repeat;
    background-size: 1090px;
    border: 1px solid red;
    margin: auto;
}

/* #imageDiv {
    margin: 0 auto;
    margin-top: 25px;
    } */

/* #backgroundImage {
    width: 1090px;
} */

#title {
    width: 500px;
    text-align: center;
    font-family: Bodoni Moda;
    color: white;
    background-color: black;
    position: relative;
    top: 10%;
    margin: auto;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1rem;
    font-family: Julius Sans One;
}

#playerInput {
     width: 200px;
     border: 1px solid red;
     color: white;
     text-align: center;
     padding: 3px;

}

#hint {
    background-image: url(Images/crumpledPaper.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    font-family: Covered By Your Grace;
    border: 1px solid red;
}

#guess {
}

#playerInputMain {
}