/* Write your CSS code in this file */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Covered+By+Your+Grace&family=Creepster&family=Julius+Sans+One&family=Reenie+Beanie&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: black;
    text-align: center;
    position: relative;
}

#mainDiv {
    /* position: absolute; */
    height: 600px;
    width: 1090px;
    padding-top: 25px;
    background-image: url(Images/backgroundImage.png);
    background-repeat: no-repeat;
    background-size: 1090px;
    margin: auto;
}


#title {
    width: 500px;
    text-align: center;
    font-family: Bodoni Moda;
    color: white;
    position: relative;
    top: 12%;
    margin: auto;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1rem;
    font-family: Julius Sans One;
}

#playerInput {
     width: 200px;
     border: 1px solid red;
     color: white;
     text-align: center;
     padding: 3px;
}

#hint {
    background-image: url(Images/crumpledPaper.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    font-family: Covered By Your Grace;
    position: relative;
    top: 90px;
    left: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hint:hover {
    scale: 110%;
}

#playerInputMain {
    position: relative;
    top: 100px;
    width: 1090px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#hintText {
    text-align: center;
    font-size: larger;
    color: white;
    font-weight: 800;
    text-shadow: 1px 1px 2px black;
}

#guess {
    position: relative;
    height: 240px;
    width: 200px;
    top: 100px;
    left: 90px;
    background-image: url(Images/guessesPaper.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#guessList {
    list-style: none;
    font-family: Reenie Beanie;
    font-weight: 800;
    font-size: 30px;
    color: darkslategrey;
}

#openHint {
    background-image: url(Images/openPaper.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 800px;
    bottom: 90px;
    height: 200px;
    width: 300px;
    font-family: Covered By Your Grace;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#hintsList {
    list-style: none;
}